<div class="p-3">
  <%= form_with model: [@event, @event.invitations.new] do |f| %>
    <%= f.text_field :email, placeholder: 'Email', required: true %>
    <%= f.submit "send invitation" %>
  <% end %>
</div>
